* {
    margin: 0;
    padding: 0;
}

.web {
    Margin: 10px auto;
    width: 1024px;
}

#logo {
    float: left;
    height: 125px;
    margin-right: 10px;
    text-shadow: 1 1 1 rgba(0,0,0,0,2);
}

#judul {
    height: 115px;
    margin: 10px auto -15px auto;
    padding: 10 0 20 0;
    border-radius: 10px;
}

nav {
    clear: both;
}